html{
    color: black;
}
*{
    color: grey;
}
h3{
    color: red;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#txtMesafe{
    width: 350px;
}

form > div{
    display: flex;
    margin-bottom: 20px;
}

.aciklama{
    flex: 0 0 200px;
    color: red;
    font-weight: bold;
}